<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LazyFingers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <LazyFingers.Properties.Settings>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F1" serializeAs="String">
                <value />
            </setting>
            <setting name="F2" serializeAs="String">
                <value />
            </setting>
            <setting name="F3" serializeAs="String">
                <value />
            </setting>
            <setting name="F4" serializeAs="String">
                <value />
            </setting>
            <setting name="F5" serializeAs="String">
                <value />
            </setting>
            <setting name="F6" serializeAs="String">
                <value />
            </setting>
            <setting name="F7" serializeAs="String">
                <value />
            </setting>
            <setting name="F8" serializeAs="String">
                <value />
            </setting>
            <setting name="F9" serializeAs="String">
                <value />
            </setting>
            <setting name="F10" serializeAs="String">
                <value />
            </setting>
            <setting name="F11" serializeAs="String">
                <value />
            </setting>
            <setting name="F12" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F1_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F2_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F3_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F4_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F5_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F6_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F7_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F8_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F9_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F10_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F11_Title" serializeAs="String">
                <value />
            </setting>
            <setting name="F12_Title" serializeAs="String">
                <value />
            </setting>
        </LazyFingers.Properties.Settings>
    </userSettings>
</configuration>
